---
# tasks file for install_pbench_tests
- name: pbench test install results default
  lineinfile:
    path: "/tmp/pbench_test_inst_status"
    line: "status: success"
    create: yes

- name: install pbench tests if required
  block:
  - name: install pbench benchmarks
    package:
      name: "{{ item }}"
      state: present
    ignore_errors: yes
    register: pbench_tool
    with_items:
    - uperf
    - fio
  - name: install report
    debug:
      var: pbench_tool.results[0]
  - name: install report
    debug:
      var: pbench_tool.results[1]

#
# install pbench tools
#
  - name: install pbench tools
    command: sudo -i /opt/pbench-agent/util-scripts/pbench-register-tool-set
    ignore_errors: yes
    register: pbench_register
  - name: record pbench register status
    include_role:
      name: record_status
    vars:
      results: "{{ pbench_register }}"
      status_file: "/tmp/pbench_test_inst_status"


  when:
    - config_info.pbench_install == 1
    - config_info.os_vendor == "rhel"
    - config_info.init_system == "yes"
