---
#
# Setup files to use
#
- name: Read in dynamic information
  include_vars:
    file: "{{ working_dir }}/ansible_run_vars.yml"
    name: dyn_data

- name: local set environment type production
  set_fact:
    pbench_configuration_environment: "production"
  when: config_info.system_type == "local"

- name: non local set environment type production
  set_fact:
    pbench_configuration_environment: "ec2"
  when: config_info.system_type != "local"

- name: Install pbench repo
  include_role:
    name: pbench_repo_install
    apply:
      delegate_to: "{{ target_sys }}"
      become: yes

- name: Upload and stall any rpms.
  include_role:
    name: install_rpms
  vars:
    results_file: "/tmp/rpm_installs"

- name: Install pbench agent
  include_role:
    name: pbench_agent_install
    apply:
      delegate_to: "{{ target_sys }}"
      become: yes

- name: Install pbench agent config
  include_role:
    name: pbench_agent_config
    apply:
      delegate_to: "{{ target_sys }}"
      become: yes

- name: Install pbench benchmarks
  include_role:
    name: install_pbench_tests
    apply:
      delegate_to: "{{ target_sys }}"
      become: yes
