---
# tasks file for termination on failure deletion
#
#
#- name: Obtain install status
- name: Read status file
  shell: cat {{ working_dir }}/{{ status_file }} 2> /dev/null
  register: status
  ignore_errors: yes
  no_log: true
  failed_when: >
    ("'IGNORE_IT' in status.stderr") or
    ("'fail' in status.stdout")

- name: terminate
  block:
  - name: Terraform terminate
    include_role:
      name: tf_delete
    vars:
      tf_dir: "tf"
    when: config_info.cloud_terminate_instance == 1 and config_info.term_system == "yes"
  - name: Log failure
    include_role:
      name: log_and_terminate
    vars:
      exit_msg: "{{ exit_msg }}"
  when: status.rc == 1
 
