[defaults]
roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:~/.ansible/collections/ansible_collections/pbench/agent/roles
log_path=/home/dvalin/fix_error_handling/debug/rhel/aws/m5a.xlarge_0/ansible_log
