---
# tasks file for roles/ssh_key_exchange
- name: SSH KeyGen command
  delegate_to: "{{ item }}"
  become: yes
  shell: > 
    ssh-keygen -q -b 2048 -t rsa -N "" -C "creating SSH" -f ~/.ssh/id_rsa
    creates="~/.ssh/id_rsa"
  with_items:
    - "{{ ip_list }}"

- name: Fetch the keyfile from one server to another
  delegate_to: "{{ item }}"
  become: yes
  fetch:
    src: "~/.ssh/id_rsa.pub"
    dest: "buffer/{{item}}-id_rsa.pub"
    flat: yes
  with_items:
    - "{{ ip_list }}"

- name: Copy the key add to authorized_keys using Ansible module
  delegate_to: "{{ ip_list[0] }}"
  become: yes
  authorized_key:
    user: root
    state: present
    key: "{{ lookup('file','buffer/{{ ip_list[1] }}-id_rsa.pub')}}"

- name: Copy the key add to authorized_keys using Ansible module
  delegate_to: "{{ ip_list[1] }}"
  become: yes
  authorized_key:
    user: root
    state: present
    key: "{{ lookup('file','buffer/{{ ip_list[0] }}-id_rsa.pub')}}"

- name: Permit root login
  delegate_to: "{{ item }}"
  become: yes
  lineinfile:
    path: /etc/ssh/sshd_config
    regex: '^PermitRootLogin'
    line: PermitRootLogin yes
  with_items:
    - "{{ ip_list }}"


- name: restart sshd service
  delegate_to: "{{ item }}"
  become: yes
  systemd:
    name: sshd
    state: restarted
  with_items:
    - "{{ ip_list }}"

