machine_type = "{{ config_info.host_or_cloud_inst }}"

cloud_os_version = "{{ config_info.cloud_os_version }}"
cloud_placement = "{{ config_info.cloud_placement }}"

run_label = "{{ config_info.user_running }}_{{ config_info.run_label | lower() | replace('.','-',63) | replace('_', '-', 63)}}"

region = "{{ config_info.cloud_delete_region }}"

ssh_key_path = "{{ config_info.ssh_key }}"

test_user = "{{ config_info.test_user }}" 

vm_image = "{{ config_info.cloud_os_version }}"

security_group = "{{ dyn_data.aws_uname }}"

key_name = "{{ dyn_data.aws_uname }}"

spot_price = "{{ spot_data.cur_spot_price }}"

pb_disk_type = "gp2"
pb_disk_count = 1
pb_vol_size = 500

avail_zone = "{{ config_info.cloud_region }}"
# Check "cloud_numb_networks", default value is "1" for both vars
{% if config_info.cloud_numb_networks >= 1 %}
vm_count = 1
network_count =  "{{ config_info.cloud_numb_networks }}"
{% endif %}
