---
# 
# Upload the required tests.
#

- name: include_extra_uploads
  include_vars:
    file: "{{ working_dir }}/upload_files.yml"
    name: extra

- name: Load in configuration information
  include_vars:
    file: "{{ working_dir }}/ansible_vars.yml"

#
# Default status.
#
- name: Record default status of update success
  lineinfile:
    path: "/tmp/upload_extra_status"
    line: "status: success"
    create: yes

#
# If we are pulling a file
#
- name: Upload extra files
  include_role:
    name: upload_extra_files

#
# Link uploads to /uploads if need be.
#
- name: upload the extra file info
  shell: "ssh -oStrictHostKeyChecking=no {{ dyn_data.ssh_i_option }} {{ config_info.test_user }}@{{ dyn_data.test_hostname }} \"sudo ln -sf {{ dyn_data.kit_upload_directory }}/uploads /uploads\""

