#
# Add the instance to a group to use for installing software, etc.
#
- name: Add host to install_group
  add_host:
    name: "{{ public_ip_address[0] }}"
    groups: install_group
    ansible_user: "{{ config_info.test_user }}"
    ansible_ssh_private_key_file: "{{ config_info.ssh_key }}"

- name: Add host to test_group
  add_host:
    name: "{{ public_ip_address[0] }}"
    groups: test_group
    ansible_user: "{{ config_info.test_user }}"
    ansible_ssh_private_key_file: "{{ config_info.ssh_key }}"

#
# Add the host to the group files
#
- name: Update install_group file
  include_role:
    name: add_to_host_group
  vars:
    working_group_file: "{{ working_dir }}/ansible_install_group"
    group_name: "install_group_list"
    host_to_add: "{{ public_ip_address[0] }}"

- name: Update test_group file
  include_role:
    name: add_to_host_group
  vars:
    working_group_file: "{{ working_dir }}/ansible_test_group"
    group_name: "test_group_list"
    host_to_add: "{{ public_ip_address[0] }}"