---
# 
# Determine mount point with most space available.  Upload will go there.
#

- name: include dynamic info
  include_vars:
    file: "{{ working_dir }}/ansible_run_vars.yml"
    name: dyn_data

# 
# Determine location to uploads to.
#
- name: Set bootc-safe upload directory
  lineinfile:
    path: "{{ working_dir }}/ansible_run_vars.yml"
    line: "kit_upload_directory: {{ config_info.user_parent_home_dir }}/{{ config_info.test_user }}/zathras_uploads"
  when: 
    - config_info.kit_upload_directory == "none"
    - config_info.bootc_mode == 1

- name: upload the extra file info, determine location
  block:
  - name: Find largest writable filesystem
    shell: "ssh -oStrictHostKeyChecking=no {{ dyn_data.ssh_i_option }} {{ config_info.test_user }}@{{ dyn_data.test_hostname }} \"tools_bin/writeable_filesys --most_free_space\""
    register: largest_writable_fs

  #
  # Record the location to upload to
  #
  - name: Write upload dir to  ansible_run_vars.yml
    lineinfile:
      path: "{{ working_dir }}/ansible_run_vars.yml"
      line: "kit_upload_directory: {{ largest_writable_fs.stdout }}"
  when: 
    - config_info.kit_upload_directory == "none"
    - config_info.bootc_mode != 1

- name: Designated upload directory to use
  lineinfile:
    path: "{{ working_dir }}/ansible_run_vars.yml"
    line: "kit_upload_directory: {{ config_info.kit_upload_directory }}"
  when: config_info.kit_upload_directory != "none"
